.itinerario {
    -fx-text-fill: white;
    -fx-font-size: 12px;

    -fx-background-color: rgba(0, 0, 0, 0.50);
    -fx-background-radius: 12;

    -fx-border-color: transparent;
    -fx-border-width: 0;

    -fx-control-inner-background: transparent;
}